# Template — kopieer naar .env.dev / .env.test / .env.prod en vul in.
# NOOIT committen met echte secrets.

COMPOSE_PROJECT_NAME=attachments
OMRS_IMAGE_TAG=latest

# Webserver
OMRS_PORT=
OMRS_DEV_DEBUG=

# Database
OMRS_DB_NAME=
OMRS_DB_USER=
OMRS_DB_PASSWORD=
OMRS_DB_ROOT_PASSWORD=
OMRS_DB_PORT=
